<?php
$builder = new \Homepage\BasePack\Service\Builder();

$builder
    ->add('ProjectName')
    ->location('C:\apache\htdocs\ProjectName')
    ->dev('https://projectname.localhost/')
    ->prod('https://projectname.com/')
    ->github('Jarzon/ProjectName');

return $builder->getProjects();