<?php
$builder = new \Homepage\BasePack\Service\Builder();

$builder
    ->add('ProjectName')
    ->location('/var/www/ProjectName')
    ->dev('http://projectname.localhost/')
    ->prod('https://projectname.com/')
    ->github('Jarzon/ProjectName');

return $builder->getProjects();